table.tab-table {
	font-family:Arial,Helvetica,sans-serif; 
	font-size:7pt;
	border: none;
				border-bottom: 1px solid #666;
				border-collapse: collapse;
				background-color: #fff;
				width:100%;
			}
			tr.gray {
				background-color: #e0e0e0;
				cursor: pointer; 
			}
			tr.white { 
				cursor: pointer; 
			}
	    tr.active { 
		 		background: #dee104; 
			}

			.tab-table tbody tr:hover, tr.gray:hover {
				background-color: #5cb27a;
			}
			.tab-table tbody tr td {
				vertical-align:top; 
				text-align:center; 
				white-space:nowrap; 
				border-collapse: collapse;
				padding: 2px;
				border-left: 1px solid #ccc;
				border-right: 1px solid #ccc;
			}
			.tab-table thead tr th {
				vertical-align:top; 
				text-align:center; 
				background-color: #999;
				color: white;
				border-collapse: collapse;
				padding: 2px;
				border: 1px solid #666;
			}
			.tab-table tbody {
				border-top: 1px solid #666;
			}
			
			.tab-table .center-icon {margin-left: 50%; margin-right: 50%;}

			#day-selectable .ui-selecting { background: #FECA40; }
			#day-selectable .ui-selected { background: #F39814; color: white; }
			#date-selectable span { margin: 3px; }
			#date-selectable .ui-selecting { background: #FECA40; }
			#date-selectable .ui-selected { background: #F39814; color: white; }
			#day-selectable { list-style-type: none; margin: 0; padding: 0; }
			#date-selectable { list-style-type: none; margin: 0; padding: 0; }
			
			body { background-color: white; background: url(/css/images/background_shadow.png) top right no-repeat; 	color: black; padding: 0; margin: 0; font-family: Arial, sans-serif; }
			div#contmain { margin: 0 2em; }
			table#header { margin: 0; padding: 0; border: none; border-collapse: collapse; }
			table#header tr td { border-collapse: collapse; }
			div#tdlogo { background-color: white; text-align: center; vertical-align: middle; padding: 31px 16px 31px 0; width: 325px; }
			td#tdlogocont { border-bottom: 1px solid white; }
			td#tdmenu { background: url(/css/images/top_left_shadow.png) top left no-repeat; vertical-align: bottom; text-align: center; border-left: 1px dotted black; border-bottom: 1px dotted black; padding: 0; margin: 0; }
			table#topmenu { border: none; border-collapse: collapse; margin: 0; padding: 0; }
			table#topmenu tr td { border: none;	border-collapse: collapse; }
			
			td.shadowy { background: url(/css/images/top_button_shadow.png) top left no-repeat; padding: 6px 0 0 4px; margin: 0; }
			.shadowy a { display: block; border-top: 1px solid white; border-left: 1px solid white; border-right: 1px solid white; color: white; text-decoration: none; font-weight: bold; padding: 1em; margin: 0; text-align: center; }
			.activeHandle, .tdsubmenu button.activeHandle { background-color: #44a364; }
			.inactiveHandle { background-color: #bfbfbf; }
			
			div#footer { background-color: #828282; margin: 2em 0 0 0; padding: 2em 2em 3em 2em; color: white; font-size: 10pt; }
			div#footer div { width: 40%; }
			div#footer div a { color: white; text-decoration: none; }
			
			table.zlph { width: 100%; border: none; margin: 0; padding: 0; border-collapse: collapse; }
			table.zlph tr td { border: none; margin: 0; padding: 0; border-collapse: collapse; }


/* Form Layout Hacks */

table.form-layout {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
}

table.form-layout tbody tr td {
    margin: 0;
    padding: 2px;
    border: none;
    border-collapse: collapse;
    vertical-align: top;
}

.fit-column {
    width: 300px;
}

table.form-layout tbody tr td input, table.form-layout tbody tr td select {
    border-top: 1px solid #666;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-left: 1px solid #666;
    background-color: #ccc;
    padding: 4px;
}


.ui-dialog-content form fieldset button, button {
    margin: 0;
    padding: 2px 8px;
    background-color: #666;
    background-image: url(images/white_arrow.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    border-top: 1px solid #999;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    border-left: 1px solid #999;
    color: white;
    font-size: 9pt;
    text-align: left;
    width: 150px;
    
    -moz-box-shadow: 1px 3px 4px #333;
    -webkit-box-shadow: 1px 3px 4px #333;
    box-shadow: 1px 3px 4px #333;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=165, Color='#333333')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=165, Color='#333333');
}

.ui-dialog-content form fieldset button:hover, button:hover {
    background-color: #333;
    background-position: 98% 50%;
    border-top: 1px solid #666;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #666;
}

.ui-dialog-content form fieldset button[disabled], 
button[disabled], 
.ui-dialog-content form fieldset button[disabled]:hover, 
button[disabled]:hover {
    background-color: #999;
    color: #ccc;
    border: 1px solid #666;
}

.tdsubmenu {
    font-size: 9pt;
    padding: 8px 8px 16px 0;
}

.tdsubmenu button {
    margin: 0;
    padding: 2px 8px;
    background-color: #aaa;
    background-image: none;
    border: 1px solid #fff;
/*    border-top: 1px solid #eee;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-left: 1px solid #eee; */
    color: white;
    font-size: 9pt;
    text-align: center;
    width: 120px;
    
    -moz-box-shadow: 1px 2px 3px #333;
    -webkit-box-shadow: 1px 2px 3px #333;
    box-shadow: 1px 2px 3px #333;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=165, Color='#333333')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=165, Color='#333333');
}
 
.tdsubmenu button:hover {
/*    background-color: #060;
    border-top: 1px solid #090;
    border-right: 1px solid #030;
    border-bottom: 1px solid #030;
    border-left: 1px solid #090; */
    border: 1px solid #393;
}


/* JQuery UI Hacks */

div.ui-dialog {
    background-color: #ffffff;
    border: 1px solid #999;
    padding: 8px 16px 8px 0;

    -moz-box-shadow: 2px 5px 6px #333;
    -webkit-box-shadow: 2px 5px 6px #333;
    box-shadow: 2px 5px 6px #333;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=165, Color='#333333')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=165, Color='#333333');

}

div.ui-dialog-titlebar {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

a.ui-dialog-titlebar-close, a.ui-dialog-titlebar-close:hover {
    border: none;
    background: none;
}

a.ui-dialog-titlebar-close span {
    display: block;
    position: absolute;
    z-index: 1100;
    top: -28px;
    left: 24px;
}

div.ui-dialog-content {
    padding: 0;
    margin: 0;
    font-size: 10pt;
}

.ui-dialog-content form {
    margin: 0;
    padding: 0;
    border: none;
}

.ui-dialog-content form fieldset {
    margin: 0;
    padding: 0;
    border: none;
}


span.ui-dialog-title {
    display: block;
    width: 100%;
    margin: 0;
    padding: 8px;
    background-color: #ccc;
    border: 1px solid #999;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
}

.ui-dialog-content form fieldset legend {
    display: none;
    position: static;
    top: 0;
    left: 0;
}

div#login {
	width:302px;
	border:1px solid #666;
	box-shadow:5px 5px 5px #999;
	-moz-box-shadow:5px 5px 5px #999;
	-webkit-box-shadow:5px 5px 5px $999;
}
